---
---

@import "{{ site.theme }}";

span.remove-tr:hover {
  cursor:pointer;
}
span.bold {
  font-weight: bold;
}

div.wrapper-modified {
  margin: 25px;
  width:95%;

  section {
    float: left;
    width:100%;
  }
  footer {
    bottom:0px;
    position: relative;
    float: left;
    width: auto;
  }
  table {
    width:100%;
    thead {
      visibility: hidden;
    }
    color:black;
    td {
      vertical-align: top;
      pre {
        margin: 0;
        white-space: pre-wrap;
      }
      .w20 {
        width: 25%;
      }
      .w30 {
        width: 30%;
      }
      .w35 {
        width: 35%;
      }
      .w40 {
        width: 40%;
      }
    }
    td:first-child { padding-top: 2em; }
    td.xlarge {
      font-size: x-large;
    }
    td.narration {
      position:relative;
      span.remove-tr {
        position: absolute;
        font-size:x-large;
        display: none;
        top:0;
        right:0;
        cursor:auto;
      }
    }

    tr.choice {
      td {
        vertical-align: bottom;
      }
      td:first-child {
        font-weight: bold;
      }
      td > input#autocomplete-example {
        width: 300px;
      }
    }
  }
  input#reset_table {
    margin-left:50px;
  }

  span.btn-speak {
    display: inline-block;
    padding-right: 0.2em;
  }
  audio {
    height: 20px;
  }

  /* Style the collapsible content. Note: hidden by default */
  #preamble {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 100%;
    resize: none;
    overflow-y: scroll;
  }
  #a11y-mode-label {
    margin-left: 25px;
    font-size: small;
  }

  .custom-id {
    display: none;
  }
  .custom-id.in-content {
    color: #f5b973;
  }
  .custom-id.in-pres {
    color:#2f7aae;
  }

  .custom-id.faded {
    display: none;
    color: #e8e3ca;
  }
  .custom-xref {
    display: none;
  }
  .custom-xref.in-content {
    color:#2f7aae;
  }
  .custom-xref.in-pres {
    color: #f5b973;
  }
  .custom-xref.faded {
    display: none;
    color: #aec4e6;
  }

  div.latexml-log {
    margin-top:15px;
    span {
      padding: 1em;
      border: 1px solid red;
      display: table-cell;
    }
  }
}

div.autocomplete-suggestions { background-color: #f2f7ff; opacity:1; }
div.autocomplete-suggestion { opacity:1; }
div.autocomplete-suggestion.autocomplete-selected { background-color: #87cafa; }
div.autocomplete-group { background-color: #f2f7ff; }
div.autocomplete-no-suggestion { background-color: #ccd0d6; }
