---
---

@import "{{ site.theme }}";

span.remove-tr:hover {
  cursor:pointer;
}
span.bold {
  font-weight: bold;
}

div.wrapper-modified {
  margin: 25px;
  width:95%;

  section {
    float: left;
    width:100%;
  }
  footer {
    bottom:0px;
    position: relative;
    float: left;
    width: auto;
  }
  table {
    color:black;
    td > pre {
      margin: 0;
    }
  }
  td.xlarge {
    font-size: x-large;
  }
  td.narration {
    position:relative;
    span.remove-tr {
      position: absolute;
      font-size:x-large;
      display: none;
      top:0;
      right:0;
      cursor:auto;
    }
  }
  input#reset_table {
    margin-left:50px;
  }

  span.btn-speak {
    display: inline-block;
    padding-right: 0.2em;
  }
  audio {
    height: 20px;
  }
}